# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [58]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [22]:
salaries.head(2)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
salaries.isna().sum().sort_values(ascending = False)

Typical Hours        25161
Hourly Rate          25161
Annual Salary         8022
Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [16]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [19]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [60]:
from scipy.stats import shapiro, ttest_1samp

In [109]:
# First, I select just the Hourly group:

salaries_hour = salaries.loc[salaries['Salary or Hourly'] == 'Hourly']

In [110]:
# Second, I will check the characteristics of the group:

salaries_hour['Hourly Rate'].describe().T

count    8022.000000
mean       32.788558
std        12.112573
min         2.650000
25%        21.200000
50%        35.600000
75%        40.200000
max       109.000000
Name: Hourly Rate, dtype: float64

In [111]:
# Third, check if the population fits normal distribution:

shapiro(salaries_hour['Hourly Rate'])

ShapiroResult(statistic=0.930728554725647, pvalue=0.0)

In [112]:
# Fourth, Analyze the statistics using one sample two-sided Student t-test:

# confidence interval = 95%
# H0: mu = 30
# H1: mu != 30

media = 30

ttest_1samp(salaries_hour['Hourly Rate'],
            media,
            alternative = 'two-sided')

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

In [113]:
# P-value is <<< 0.05
# That indicates that the H0 can be rejected, the value 32 is higher than 30

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [114]:
# First, I select just the POLICE Department:

salaries_sal = salaries.loc[salaries['Salary or Hourly'] == 'Salary']

police = salaries_sal.loc[(salaries_sal['Department'] == 'POLICE') | (salaries_sal['Department'] == 'POLICE BOARD')]

police['Department'].value_counts()

POLICE          13404
POLICE BOARD        2
Name: Department, dtype: int64

In [115]:
# Second, I will check the characteristics of the group:

police['Annual Salary'].describe().T

count     13406.000000
mean      86486.362226
std       18272.443068
min       38376.000000
25%       84054.000000
50%       90024.000000
75%       94524.000000
max      260004.000000
Name: Annual Salary, dtype: float64

In [116]:
# Third, check if the population fits normal distribution:

shapiro(police['Annual Salary'])

ShapiroResult(statistic=0.8965338468551636, pvalue=0.0)

In [117]:
# Fourth, Analyze the statistics using one sample one-sided Student t-test:

# confidence interval = 95%
# H0: mu > $86000/year --> The chief of police in Chicago
# H1: mu <= $86000/year

alternative = 'less'
media = 86000

ttest_1samp(police['Annual Salary'],
            media,
            alternative = 'less')

TtestResult(statistic=3.081859442309168, pvalue=0.9989693542994336, df=13405)

In [118]:
# P-value is > 0.05
# That indicates that the H0 can not be rejected, the chief of police in Chicago was right

Using the `crosstab` function, find the department that has the most hourly workers.

In [148]:
pd.crosstab(salaries_hour['Department'],
            salaries_hour['Salary or Hourly']).sort_values(by = ['Hourly'], ascending = False)[:4]

Salary or Hourly  Hourly
Department
STREETS & SAN       1862
WATER MGMNT         1513
OEMC                1273
AVIATION            1082

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [189]:
# First, I select just the hourly workers that complain:

workers = salaries_hour[salaries_hour['Department'] == 'STREETS & SAN']

In [193]:
# Second, I will check the characteristics of the group:

workers['Hourly Rate'].describe()

count    1862.000000
mean       33.728378
std         5.735242
min        19.500000
25%        35.600000
50%        35.600000
75%        36.210000
max        53.100000
Name: Hourly Rate, dtype: float64

In [194]:
# Third, check if the population fits normal distribution:

shapiro(workers['Hourly Rate'])

ShapiroResult(statistic=0.6946295499801636, pvalue=0.0)

In [195]:
# Fourth, Analyze the statistics using one sample one-sided Student t-test:

# confidence interval = 95%
# H0: mu >= $35/hour
# H1: mu < $35/hour --> workers

alternative = 'less'
media = 35

ttest_1samp(workers['Hourly Rate'],
            media,
            alternative = 'less')

TtestResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21, df=1861)

In [1]:
# P-value is <<< 0.05
# That indicates that the H0 can be rejected, the workers are right

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [243]:
from scipy.stats import t, sem

In [245]:
# Creating a confidence interval:

dof = len(salaries_hour) - 1
media = salaries_hour['Hourly Rate'].mean()
scale = sem(salaries_hour['Hourly Rate'])

t.interval(0.95,                 
           dof,     
           loc = media,
           scale = scale)

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [247]:
# Creating a confidence interval:

dof = len(police) - 1
media = police['Annual Salary'].mean()
scale = sem(police['Annual Salary'])

t.interval(0.95,                 
           dof,     
           loc = media,
           scale = scale)

(86177.02348322631, 86795.70096851172)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [248]:
from statsmodels.stats.proportion import proportions_ztest

In [255]:
# whether the number of hourly workers in the City of Chicago is significantly different from 25% 
# at the 95% confidence level

proportion = 25/100

proportions_ztest(salaries['Salary or Hourly'].value_counts()[1],
                  len(salaries),
                  proportion)

(-3.5099964213703005, 0.0004481127249057967)

In [2]:
# P-value is <<< 0.05
# That indicates that the H0 can be rejected