# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [5]:
len(salaries)

33183

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
missing_data = salaries.isnull().sum()

missing_data

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
employee_type = salaries['Salary or Hourly'].value_counts()

employee_type

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
departments = salaries['Department'].unique()
departments

array(['POLICE', 'GENERAL SERVICES', 'WATER MGMNT', 'OEMC',
       'CITY COUNCIL', 'AVIATION', 'STREETS & SAN', 'FIRE',
       'FAMILY & SUPPORT', 'PUBLIC LIBRARY', 'TRANSPORTN',
       "MAYOR'S OFFICE", 'HEALTH', 'BUSINESS AFFAIRS', 'LAW', 'FINANCE',
       'CULTURAL AFFAIRS', 'COMMUNITY DEVELOPMENT', 'PROCUREMENT',
       'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK', 'BOARD OF ELECTION',
       'DISABILITIES', 'HUMAN RESOURCES', 'DoIT', 'BUDGET & MGMT',
       'TREASURER', 'INSPECTOR GEN', 'HUMAN RELATIONS', 'COPA',
       'BOARD OF ETHICS', 'POLICE BOARD', 'ADMIN HEARNG',
       'LICENSE APPL COMM'], dtype=object)

In [9]:
departments = salaries['Department'].value_counts()

departments

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

In [10]:
departments = salaries.groupby('Department')['Name'].count()

departments

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [16]:
from scipy.stats import t
from scipy.stats import ttest_1samp

In [17]:
salaries['Hourly Rate'].mean()

32.78855771628023

In [18]:
hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

hourly.head()

4     19.86
6     46.10
7     35.60
10     2.65
18    17.68
Name: Hourly Rate, dtype: float64

In [19]:
# H0 = 30
# H1 =/ 30

In [20]:
len(hourly)

8022

- Al seleccionar solamente los 'Hourly' en la columna 'Salary or Hourly', se van todos aquellos datos que tienen Nulos en la columna 'Hourly Rate'. Esto pasa porque la informacion est谩 cargada en 'Hourly Rate' depende est谩 determinada seg煤n el tipo de empleado 'salaried' or 'hourly'

In [21]:
# Testeo de una muestra frente a poblacion
# mu = 30
# En este caso la H0 es que la media del salario por hora de los trabajadores por hora es igual a $30/hr.
# Entonces, H0 贸 mu = $ 30/hr (media del salario por hora)
# La hip贸tesis alternativa (H1), ser铆a que la media del salario por hora es diferente de $ 30/hr.

In [22]:
salaries['Hourly Rate'] = pd.to_numeric(salaries['Hourly Rate'], errors='coerce')

In [23]:
mu = 30

t_stat, p_value = ttest_1samp(hourly, mu, alternative='two-sided')

In [24]:
t_stat, p_value

(20.6198057854942, 4.3230240486229894e-92)

In [25]:
ttest_1samp(salaries['Hourly Rate'].dropna(),    #dato
            30,     #media poblacional
            alternative = 'two-sided')

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

In [26]:
if p_value < 0.05:
    print("La diferencia en el salario por hora es significativa")
else:
    print("No hay evidencia significativa para rechazar la hip贸tesis nula")

La diferencia en el salario por hora es significativa

In [27]:
# en este caso, p_value < 0.05, por lo que podemos rechazar la H0.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

- Conclusion

    - Si buscamos un intervalo de confianza del 95%, entonces  =0.05
 
    - El pvalor obtenido es mayor que el umbral, por lo tanto no podemos rechazar H0.

In [28]:
from scipy.stats import ttest_1samp

In [33]:
# datos del departamento de polic铆a y elimina los valores NaN
police = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()

police

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [35]:
police['Annual Salary'].mean()

# Hip贸tesis nula (H0) = $86000)

KeyError: 'Annual Salary'

In [101]:
mu_sample = police_salary.mean()
mu_sample

86486.41450313339

In [102]:
std_sample = police_salary.std()
std_sample

18272.228293992157

In [103]:
len(police_salary)

13404

In [86]:
# Hip贸tesis nula (H0) = $86000)

mu = 86000  # media poblacional

mu_sample = 86486.4145 # media muestral, media del experimento

std_sample = 18272.228293992157   # std muestral, std del experimento

n = 13404

In [87]:
t_test = (mu_sample - mu) / (std_sample/np.sqrt(n))

t_test  # valor del eje x

3.081996985859502

In [88]:
dof = n-1
dof

13403

In [89]:
p_value = t(df=dof).cdf(t_test) #cdf: ACUMULADA

p_value

0.9989698297537927

In [91]:
# esto significar铆a que la hipotesis es cierta (H0 >= 86000)

In [ ]:
#########

In [93]:
t_test = ttest_1samp(police, mu, alternative='less')

t_test

TtestResult(statistic=2.445198067407573, pvalue=0.9927549794314678, df=13403)

In [94]:
t_test.pvalue

0.9927549794314678

In [96]:
# Comprueba si el p-value es menor que el nivel de significancia ajustado para unilateralidad (0.05 para un intervalo de confianza del 95%)
# entonces umbral = 0.05

umbral = 0.05

if p_value < alpha:
    print("Los salarios en el departamento de polic铆a son significativamente mayores que la media de la muestra.")

else:
    print("No hay evidencia significativa para rechazar la hip贸tesis nula.")

No hay evidencia significativa para rechazar la hip贸tesis nula.

Using the `crosstab` function, find the department that has the most hourly workers.

In [36]:
# frecuencia cruzada entre 'Department' y 'Salary or Hourly'

department_most_hourly = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])
department_most_hourly.head()

Salary or Hourly   Hourly  Salary
Department
ADMIN HEARNG            0      39
ANIMAL CONTRL          19      62
AVIATION             1082     547
BOARD OF ELECTION       0     107
BOARD OF ETHICS         0       8

In [38]:
hourly_workers_by_department = department_most_hourly[department_most_hourly['Hourly'] > 0]
hourly_workers_by_department.head()

Salary or Hourly  Hourly  Salary
Department
ANIMAL CONTRL         19      62
AVIATION            1082     547
BUDGET & MGMT          2      44
BUSINESS AFFAIRS       7     164
CITY COUNCIL          64     347

In [41]:

department_with_most_hourly_workers = hourly_workers_by_department['Hourly'].idxmax() # mayor铆a de los trabajadores por hora

print("The department that has the most hourly workers is ", department_with_most_hourly_workers)

The department that has the most hourly workers is  STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [42]:
from scipy.stats import ttest_1samp

hourly_wage = salaries[(salaries['Department'] == department_with_most_hourly_workers) & (salaries['Salary or Hourly'] == 'Hourly')]['Hourly Rate'].dropna()

hourly_wage

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

In [43]:
hourly_wage.mean()

33.72837808807734

In [44]:
# Especifica la hip贸tesis nula (mu_sample (H0) >= $35) --> estamos en el Tipo de Testeo 1

mu = 35 #media poblacional

t_stat, p_value = ttest_1samp(hourly_wage, 
                              mu, 
                              alternative='less')  #  estamos en el Tipo de Testeo 1 --> H>=k

t_stat, p_value

(-9.567447887848152, 1.6689265282353859e-21)

In [112]:
# Comprueba si el p-value es menor que el nivel de significancia ajustado para unilateralidad (0.05 para un intervalo de confianza del 95%)

alpha = 0.05

if p_value < alpha:
    print(f"El salario por hora en el departamento {department_with_most_hourly_workers} es significativamente menor que $35/hora.")

else:
    print(f"No hay evidencia significativa para rechazar la hip贸tesis nula en el departamento {department_with_most_hourly_workers}.")

El salario por hora en el departamento STREETS & SAN es significativamente menor que $35/hora.

In [ ]:
# El p-value es extremadamente peque帽o
# sugiere que tienes suficiente evidencia para rechazar la hip贸tesis nula (H0 >=35).
# Podemos concluir que hay evidencia significativa de que el salario por hora en el 
# departamento STREETS & SAN es significativamente menor que $35/hora.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [120]:
from scipy.stats import t
from scipy.stats import sem

In [122]:
hourly_wage_all = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()
hourly_wage_all.head()

4     19.86
6     46.10
7     35.60
10     2.65
18    17.68
Name: Hourly Rate, dtype: float64

In [123]:
mean_sample = hourly_wage_all.mean()
mean_sample

32.78855771628024

In [124]:
std_error = sem(hourly_wage_all)
std_error

0.1352368565101596

In [125]:
# 95% de confianza de que la media este en ese intervalo

confidence_level = 0.95

confidence_interval = t.interval(confidence_level,           # alfa = 1 - pvalor, confianza
                                 len(hourly_wage_all) - 1,   #  N-1, dof(grados de libertad)
                                 loc= mean_sample, 
                                 scale = std_error           #sem = error est谩ndar
                                )
confidence_interval

# con un int de confianza de 0.95 la media est谩 entre 32.52 y 33.05

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [126]:
police_salary = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()
police_salary.head()

0     101442.0
1      94122.0
9      93354.0
11     84054.0
12     87006.0
Name: Annual Salary, dtype: float64

In [127]:
mean_sample = police_salary.mean()
mean_sample

86486.41450313339

In [128]:
std_error = sem(police_salary)
std_error

157.82445675052244

In [129]:
# 95% de confianza de que la media este en ese intervalo

confidence_level = 0.95

confidence_interval = t.interval(confidence_level, 
                                 len(police_salary) - 1,
                                 loc = mean_sample, 
                                 scale = std_error)
confidence_interval

# con un int de confianza de 0.95 la media cae entre 86177.056 y 86795.77

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [130]:
from statsmodels.stats.proportion import proportions_ztest

In [ ]:
# 驴la proporcion de a es distinta del 25%?
# 驴la proporcion de a es distinta del 95%?

# La hip贸tesis nula (H0) podr铆a formularse de la siguiente manera: 
    # La proporci贸n de trabajadores por hora en la Ciudad de Chicago es igual al 25%.

# La hip贸tesis alternativa (H1):
    # La proporci贸n de trabajadores por hora en la Ciudad de Chicago es distinta al 25%.

In [133]:
count_hourly_workers = len(salaries[salaries['Salary or Hourly'] == 'Hourly'])
count_hourly_workers

8022

In [135]:
# Total number of workers

count_total = len(salaries)
count_total

33183

In [137]:
# Specified proportion (25%)

proportion_specified = 0.25

z_score, p_value = proportions_ztest(count_hourly, 
                                    count_total, 
                                    proportion_specified)


z_score, p_value

(-3.5099964213703005, 0.0004481127249057967)

In [138]:
# Teniendo en cuenta que la confidence level es del 95% (alpha = 0.05 for 95% confidence level)

alpha = 0.05

if p_value < alpha:
    print("The number of hourly workers in the City of Chicago is significantly different from 25%")
    
else:
    print("There is no significant difference in the proportion of hourly workers in the City of Chicago.")

The number of hourly workers in the City of Chicago is significantly different from 25%

- Dado que el p-value obtenido (p_value = 0.000448), es menor que el nivel de significancia (alpha = 0.05)
    - En t茅rminos pr谩cticos, esto significa que hay evidencia significativa para afirmar que la proporci贸n de trabajadores por hora en la Ciudad de Chicago