# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [34]:
#%pip install statsmodels

In [89]:
import numpy as np
import pandas as pd
from scipy.stats import t
from scipy.stats import ttest_1samp
from statsmodels.stats import weightstats as w
from scipy.stats import norm
from scipy.stats import sem
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [10]:
salaries.head(2)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN

In [8]:
salaries.sample(4)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
20120,"MOORE, NANCY L",ADMINISTRATIVE ASST II,POLICE,F,Salary,NaN,70092.0,NaN
29577,"TIGGES, KATHERINE E",LIBRARIAN II,PUBLIC LIBRARY,F,Salary,NaN,65448.0,NaN
8854,"FINEMAN, DAVIDA",MACHINIST,WATER MGMNT,F,Hourly,40.0,NaN,46.35
16819,"LIBOY, NOEL C",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [18]:
#sumo los booleanos 
nan_cols = salaries.isna().sum()

In [20]:
#filtro por columnas que tienen por lo menos un 'True' 
nan_cols[nan_cols>0]

Typical Hours    25161
Annual Salary     8022
Hourly Rate      25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [25]:
# hay 25.161 empleados 'salaried' (lo que explica los 25161 nulos en la columna de typical hours o hourly rate)
salaries[(salaries['Salary or Hourly'] == 'Salary')].shape

(25161, 8)

In [26]:
# hay 8.022 empleados 'hourly' (lo que explica los 8022 nulos en la columna de annual salary)
salaries[(salaries['Salary or Hourly'] == 'Hourly')].shape

(8022, 8)

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [31]:
salaries['Department'].value_counts().head(10)

POLICE              13414
FIRE                 4641
STREETS & SAN        2198
OEMC                 2102
WATER MGMNT          1879
AVIATION             1629
TRANSPORTN           1140
PUBLIC LIBRARY       1015
GENERAL SERVICES      980
FAMILY & SUPPORT      615
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [50]:
#from scipy.stats import t

In [32]:
# creo un nuevo dataframe solo con trabajadores por hora 
hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']

In [ ]:
# establezco las hipotesis

#H0: mu = 30 
#H1: mu =! 30

In [60]:
#estoy mirando a la serie de salarios por hora 

datos = hourly['Hourly Rate']
mediamuestra = hourly['Hourly Rate'].mean()
n = len(datos)
dof = n - 1
k = 30

In [62]:
#asumo que los datos que tengo son una muestra, y que no tengo el desvP de la poblacion 

t_test = ttest_1samp(datos, k ,alternative ='two-sided')
t_test

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

In [63]:
# Puedo rechazar la H0, una vez que p < 0.025

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [64]:
police_salaried = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department']=='POLICE')]
police_salaried.head(2)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN

In [ ]:
# establezco las hipotesis

#H0: mu <= 86.000 
#H1: mu > 86.000

In [65]:
datos = police_salaried['Annual Salary']
n = len(datos)
dof = n - 1
k = 86000

In [66]:
#asumo que los datos que tengo son una muestra, y que no tengo el desvP de la poblacion 

t_test = ttest_1samp(datos, k ,alternative ='greater')
t_test

TtestResult(statistic=3.081997005712994, pvalue=0.0010301701775482569, df=13403)

In [ ]:
# Puedo rechazar la H0, una vez que p < 0.05

Using the `crosstab` function, find the department that has the most hourly workers.

In [76]:
cross_tab = pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])
cross_tab.sort_values(by='Hourly',ascending=False).head(3)

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [77]:
streets_hourly = salaries[(salaries['Salary or Hourly'] == 'Hourly') & (salaries['Department']=='STREETS & SAN')]
streets_hourly.head(2)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43

In [10]:
# establezco las hipotesis

#H0: mu >=35
#H1: mu < 35

In [78]:
datos = streets_hourly['Hourly Rate']
n = len(datos)
dof = n - 1
k = 35

In [79]:
#asumo que los datos que tengo son una muestra, y que no tengo el desvP de la poblacion 

t_test = ttest_1samp(datos, k ,alternative ='less')
t_test

TtestResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21, df=1861)

In [ ]:
# Puedo rechazar la H0, una vez que p < 0.05

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [81]:
#from scipy.stats import sem

In [82]:
hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']

In [83]:
datos = hourly['Hourly Rate']

In [85]:
confidence = 0.95

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [88]:
t.interval(confidence, 
           len(datos)-1,
           loc=datos.mean(),
           scale=sem(datos)
          )

(32.52345834488425, 33.05365708767623)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
#from statsmodels.stats.proportion import proportions_ztest

In [94]:
salaries['Salary or Hourly'].value_counts()[1]

8022

In [ ]:
# establezco las hipotesis

#H0: prop = 25%
#H1: prop =! 25%

In [95]:
z_score, p_value= proportions_ztest(salaries['Salary or Hourly'].value_counts()[1], # 8022 hourly, 
                                    len(salaries),                                  # nº total de elementos
                                    0.25                                          # proporcion
                                     )


z_score, p_value

(-3.5099964213703005, 0.0004481127249057967)

In [96]:
# Puedo rechazar la H0, una vez que p < 0.05